[defaults]
inventory = inventory.ini
roles_path = ~/.ansible/roles:roles
vars_plugins_enabled = host_group_vars,community.sops.sops
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
