// Managed by Ansible (hardening role). Additive; higher-numbered file overrides 50unattended-upgrades.
Unattended-Upgrade::Automatic-Reboot "true";
Unattended-Upgrade::Automatic-Reboot-Time "04:00";
