[Interface]
Address = 10.10.0.1/24
ListenPort = 51820
PrivateKey = {{ wg_vps_private_key }}

[Peer]
# in-cluster wg-ingress pod; it dials out, so no Endpoint here
PublicKey = {{ wg_cluster_public_key }}
AllowedIPs = 10.10.0.2/32
